.body {    
    display: flex;

    .main { width: 60%; }
    .sidebar { width: 40%; }

    .sidebar {
        padding-right: 8px;    
    }

    .main {
        padding-left: 8px;
    }
}

.session {
    &-main {
        border-top: 2pt solid color-gray-7;
        margin-bottom: 12pt;
    }

    &-aside {
        margin-bottom: 12pt;

        & > *:is(p) {
            margin-bottom: 6pt;
        }
    }
}