.section {
    &--main {
        border-top: 2pt solid color-gray-7;
        margin-bottom: 12pt;
    }

    &--aside {
        margin-bottom: 12pt;

        & > *:is(p) {
            margin-bottom: 6pt;
        }
    }

    &--header {
        @extend .section--aside;
        width: 100%;
        border-bottom: 2pt solid color-gray-7;
    }

    &--footer {
        padding-top: 10pt;
        border-top: 2pt solid color-gray-6;
        display: flex;
        width: 100%;
        position: sticky;
        top: 100vh;
    }

    &__title {
        @extend .h--2;

        &--header {
            font-size: 24pt;
            color: color-azure-4;
            margin: 0;
            margin-left: -1.5pt;
        }
    }

    &__text {
        @extend .p;
    }
}