.xp__header {
        
}

.xp__name {
    font-size: 12pt;
    color: color-azure-4;
    text-decoration: underline;
}

.xp__skills {
    
}

.xp__content {
    margin-top: 6pt;
    margin-bottom: 10pt;
}