.xp {
    &-items > &__header:not(:first-child) {
        margin-top: 10pt;
    }

    &__role {
        font-size: 10pt;
        color: color-azure-4;
        text-decoration: none;
    }

    &__skills {
        
    }

    &__date {
        font-weight: 400;
        font-size: 9pt;
        color: color-gray-4;
    }

    &__company {
        color: color-gray-3;
        font-weight: 400;
        font-size: 9pt;
        text-decoration: none;
    }

    &__employment_type {
        font-weight: 400;
        font-size: 9pt;
        color: color-gray-3;
        margin-left: 3ch;
        position: relative;

        &::before {
            content: "-";
            top: 0;
            left: -2ch;
            width: 100%;
            height: 100%;
            position: absolute;
        }
    }

    &__description {
        margin-top: 6pt;
        margin-bottom: 10pt;
    }
}