.session-aside
    h2.h--2= body.skills.title
    +vbar-list(body.skills.hard1, body.skills.sep, "primary")
    +vbar-list(body.skills.hard2, body.skills.sep, "normal")
    +vbar-list(body.skills.soft1, body.skills.sep, "normal")
    +vbar-list(body.skills.soft2, body.skills.sep, "primary")