.session-aside
    h2.h--2= body.details
    nav: ul.details__items
        li: a.link--none= body.contact.address
        li: a.link--none= body.contact.name
        li: a.link--in(href="tel:" + body.contact.phone)= formatPhone(body.contact.phone)
        li: a.link--in(href="mailto:" + body.contact.email)= body.contact.email
        li: a.link--ex(target="_blank" href="https:" + body.contact.github)= body.contact.github
        li: a.link--ex(target="_blank" href="https:" + body.contact.linkedin)= body.contact.linkedin