.details__items {
    li {
        line-height: 14pt;
    }    
}

.phone {
    color: color-azure-4;
    text-decoration: none;
}

.email {
    color: color-azure-4;
    text-decoration: none;
}

.website {
    color: color-azure-4;
    text-decoration: underline;
}

.address {
    color: color-gray-3;
}

.person-name {
    color: color-gray-3;
}