.edu {
    &__item {
        font-size: 9pt;
        color: color-gray-3;   

        margin-top: 6pt; 
    }

    &__footer-text {
        font-size: 9pt;
        color: color-gray-2;   

        margin-top: 12pt; 
    }
}