.footer-link {
    display: flex;

    &__label {
        width: 60pt;
        font-weight: 400;
        color: color-gray-4;
        font-size: 9pt;
    }

    &__a {
        font-size: 9pt;
    }    
}