transparent-grid(color-1 = color-black, color-2 = color-gray-1-5) {
    background-image:  repeating-linear-gradient(45deg, color-1 25%, transparent 25%, transparent 75%, color-1 75%, color-1), repeating-linear-gradient(45deg, color-1 25%, color-2 25%, color-2 75%, color-1 75%, color-1);
    background-position: 0 0, 20px 20px;
    background-size: 40px 40px;
    background-repeat: repeat;
}

* {
    font-family: 'Roboto Mono', monospace;
}

html {
    background-color: color-black;
    transparent-grid();

    width: 21cm; /* 595px */
    height: 29.7cm; /* 842px */

    margin: auto;
}

body {
    width: 21cm; /* 595px */
    height: 29.7cm !important; /* 842px */
    background: color-white;

    line-height: 1.3;

    padding: 2.54cm;
}

@page { 
    size: auto;
    margin: 0;
}