transparent-grid(color-1 = color-black, color-2 = color-gray-1-5) {
    background-image:  repeating-linear-gradient(45deg, color-1 25%, transparent 25%, transparent 75%, color-1 75%, color-1), repeating-linear-gradient(45deg, color-1 25%, color-2 25%, color-2 75%, color-1 75%, color-1);
    background-position: 0 0, 20px 20px;
    background-size: 40px 40px;
    background-repeat: repeat;
}

f-layout() {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a4 = {
    width: 21cm, /* 595px */
    height: 29.7cm, /* 842px */
};

size-a4() {
    width: a4.width !important;
    height: a4.height !important;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

* {
    font-family: 'Roboto', sans-serif;
}

html {
    size-a4();

    background-color: color-black;
    transparent-grid();

    margin: auto;
}

body {
    size-a4();
    
    background: color-white;
    
    line-height: 1.3;
    padding: 2.54cm;

    f-layout();
}

#app {
    f-layout();
    height: 100%;
}

ul li {
    padding: 0;
    line-height: 1.3;
}

a {
    font-size: 9pt;
}

@page { 
    size: a4.width a4.height;
    margin: 0;
}