.link {
    &--none {
        color: color-gray-3;
    }
    
    &--in {
        color: color-azure-4;
        text-decoration: none;
    }

    &--ex {
        color: color-azure-4;
        text-decoration: underline; 
    }
}