
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Docs</title>
  </head>
  <body class="bg-black p-4 w-full h-full">
    <h1 class="text-2xl text-slate-400 mb-4">Docs</h1>

    <nav>
      <ul class="flex flex-col gap-4">
        <li>
          <a
            href={`/cv/archive`}
            class="flex gap-2 no-underline text-slate-600"
          >
            CV Archive
          </a>
        </li>
        <li>
          <a
            href={`/coverletter/archive`}
            class="flex gap-2 no-underline text-slate-600"
          >
            Cover Letter Archive
          </a>
        </li>
      </ul>
    </nav>
  </body>
</html>
