.edu {
    &__header {
        margin-bottom: 6pt;    
    }

    &__heading-name {
        font-size: 10pt;  
        color: color-azure-4;  
    }

    &__heading-desc {
        font-size: 10pt;
        font-weight: 400;
        color: color-gray-2;   
    }

    &__headline {
        color: color-gray-3;   

        margin-top: 6pt; 
    }
}