.body
    .body__sidebar
        include templates/header
        include templates/about
        include templates/details
        include templates/skills
        include templates/hobby
    .body__main
        include templates/xp
        include templates/edu
.footer
    include templates/footer