.body
    .body__sidebar
        include components/header/index
        include components/about/index
        include components/details/index
        include components/skills/index
        include components/hobby/index
    .body__main
        include components/xp/index
        include components/edu/index
.footer
    include components/footer/index