include helpers/formatPhone
include templates/vbarlist

doctype html
html
    head
        script(defer src="http://localhost:35729/livereload.js")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title= head.title
        link(rel="stylesheet", href="assets/style.css")
    body
        include app