include components/core/index

doctype html
html
    head
        script(defer src="http://localhost:35729/livereload.js")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title= head.title
        link(rel="stylesheet", href="assets/style.css")
    body
        .body
            .sidebar
                include components/header/index
                include components/about/index
                include components/details/index
                include components/skills/index
                include components/hobby/index
            .main
                include components/xp/index
                include components/edu/index
        .footer
            include components/footer/index