-
    const formatPhone = (phone) => {
        const country = (phone) => phone.substring(0, 3);
        const ddd = (phone) => phone.substring(3, 5);
        const number1 = (phone) => phone.substring(5, 10); 
        const number2 = (phone) => phone.substring(10, 14); 
        return country(phone) + " " + ddd(phone) + " " + number1(phone) + "-" + number2(phone);
    }